*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif
}
/* classi header */
header{
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    background-color:black;
    color:white;
}
header .text-inte{
    padding-right:20px;
    display:inline-block;

}
header .ridi{
    font-size:12px;
}
header i:last-child{
    font-size:14px;
    margin-right:10px;
}
/* classi main */

main .container-image{
    height:calc(100vh - 30px - 70px);
    background-color:black;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding:20px;
}
.container-image .pic-box{
    width:180px;
    height:120px;
    display:flex;
    align-items: flex-end;
}
.container-image .centratura{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:center;
}
.container-image .back-pic{
    background-image: url("../img/51u0jXW+W0L._AC_.jpg");
    background-size:cover;
    background-position: center;
}
.container-image .text-inside{
    background-color:rgba(0, 255, 0, 0.8);
    display:inline-block;
    color:black;
    font-size:14px;
    padding:5px;
}
.container-image .textinside-2{
    color:black;
    font-size:14px;
    padding:5px;
}

/* parte sotto con le icone */
nav{
    background-color: #222323;
    color:white;
}
nav .nav-container{
    height:70px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.nav-container ul{
    list-style-type:none;
    display:flex;
    text-align:center;
    padding:0 15px;
}
.nav-container ul li{
    padding:0 10px;
}
.nav-container ul.terza-lista li{
    color:red;
}
[class*="fas"]{
    font-size:25px;
}
.size-icon{
    font-size:14px;
}
[class*="text-icon"]{
    font-size:12px;
    margin-top:10px;
}
.color{
    color:#71c63c;
}